<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://unpkg.com/vue"></script>
  <title>Document</title>
</head>
<body>
  <div id="app">
    <h1> {{ title }} </h1>

    <!-- new note -->
    <div class="new-note">
      <input v-model='note.title' type="text">
      <textarea v-model='note.descr'></textarea>
      <button @click='addNote'>New note</button>
    </div>

    <!-- note list -->
    <div class="notes">
      <div class="note" v-for='(note, index) in notes' :key='index'>
        <div class="note-header">
          <p> {{ note.title }} </p>
        </div>
        <div class="note-body">
          <p> {{ note.descr }} </p>
          <span> {{ note.date }} </span>
        </div>
      </div>
    </div>
  </div>

<script>
  var app = new Vue({
    el: '#app',
    data: {
      title: 'Notes App',
      note: {
        title: '',
        descr: ''
      },
      notes: [
        {
          title: 'First Note',
          descr: 'Decription for first note',
          date: new Date(Date.now()).toLocaleString()
        },
        {
          title: 'Second Note',
          descr: 'Decription for second note',
          date: new Date(Date.now()).toLocaleString()
        },
        {
          title: 'Third Note',
          descr: 'Decription for third note',
          date: new Date(Date.now()).toLocaleString()
        }
      ]
    },
    methods: {
      addNote () {
        // console.log(this.note)
        let {title, descr} = this.note
        this.notes.push({
          title,
          descr,
          date: new Date(Date.now()).toLocaleString()
        })
      }
    }
  })
</script>
</body>
</html>